.env
.venv/
.cache/
.pytest_cache/
.vscode/
.coverage
.DS_Store
.venv
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
*.xml
MANIFEST
test.conf
pip-log.txt
package-lock.json
.webpack.meta
pip-wheel-metadata/
Brewfile.lock.json
*.pickle
*.ipynb
dist/
build/
.ipynb_checkpoints/
